{%- set maxsim = salt['pillar.get']('maxsim:maxsim') %}

# Executes command inside virtualenv
{% macro in_venv(cmd) -%}
  source {{ maxsim['virtualenv'] }}/bin/activate; {{ cmd }}
{%- endmacro %}

{% macro with_dotenv(cmd) -%}
  env $(cat {{ maxsim['path'] }}/.env | xargs) {{ cmd }}
{%- endmacro %}

{% macro in_venv_with_dotenv(cmd) -%}
  {{ in_venv(with_dotenv(cmd)) }}
{%- endmacro %}
